<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoris" href="/tabs/favoris">
      <ion-icon aria-hidden="true" name="heart"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
      <span class="tab-badge">1</span>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
